In [4]:
import numpy as np
import pandas as pd
import math

# Creating a 2 dimensional numpy array
data= np.arange(1, 51, 1)

#Creating pandas dataframe from numpy array
df = pd.DataFrame({'A':data})
print("oiginal Data :\n", df)

df_x = np.array(df['A'])
df_x_firstpart = df_x[:-5]
print("df_x_firstpart:\n", df_x_firstpart)

df_x_secondpart = df_x[-5:]
print("df_x_secondpart:\n", df_x_secondpart)

# Creating new column fulled with shifted values
df['B'] = df.shift(math.ceil(len(data)*0.1))
print("Filled new column B with 10% shifted rows of data of column A :\n", df)

# Drop NAN (Not a Number) values
df.dropna(inplace=True)
print("Dataframe after dropping NA values:\n", df)

oiginal Data :
      A
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9   10
10  11
11  12
12  13
13  14
14  15
15  16
16  17
17  18
18  19
19  20
20  21
21  22
22  23
23  24
24  25
25  26
26  27
27  28
28  29
29  30
30  31
31  32
32  33
33  34
34  35
35  36
36  37
37  38
38  39
39  40
40  41
41  42
42  43
43  44
44  45
45  46
46  47
47  48
48  49
49  50
df_x_firstpart:
 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45]
df_x_secondpart:
 [46 47 48 49 50]
Filled new column B with 10% shifted rows of data of column A :
      A     B
0    1   NaN
1    2   NaN
2    3   NaN
3    4   NaN
4    5   NaN
5    6   1.0
6    7   2.0
7    8   3.0
8    9   4.0
9   10   5.0
10  11   6.0
11  12   7.0
12  13   8.0
13  14   9.0
14  15  10.0
15  16  11.0
16  17  12.0
17  18  13.0
18  19  14.0
19  20  15.0
20  21  16.0
21  22  17.0
22  23  18.0
23  24  19.0
24  25  20.0
25  26  21.0
26  27  22.0
27  28  23.0
28  29  24.0
29  30  25.0
30  31  26.0
31  32  27.0
32  33  28.0
33  34  29.0
34  35  30.0
35  36  31.0
36  37  32.0
37  38  33.0
38  39  34.0
39  40  35.0
40  41  36.0
41  42  37.0
42  43  38.0
43  44  39.0
44  45  40.0
45  46  41.0
46  47  42.0
47  48  43.0
48  49  44.0
49  50  45.0
Dataframe after dropping NA values:
      A     B
5    6   1.0
6    7   2.0
7    8   3.0
8    9   4.0
9   10   5.0
10  11   6.0
11  12   7.0
12  13   8.0
13  14   9.0
14  15  10.0
15  16  11.0
16  17  12.0
17  18  13.0
18  19  14.0
19  20  15.0
20  21  16.0
21  22  17.0
22  23  18.0
23  24  19.0
24  25  20.0
25  26  21.0
26  27  22.0
27  28  23.0
28  29  24.0
29  30  25.0
30  31  26.0
31  32  27.0
32  33  28.0
33  34  29.0
34  35  30.0
35  36  31.0
36  37  32.0
37  38  33.0
38  39  34.0
39  40  35.0
40  41  36.0
41  42  37.0
42  43  38.0
43  44  39.0
44  45  40.0
45  46  41.0
46  47  42.0
47  48  43.0
48  49  44.0
49  50  45.0