## Deleting Missing Values

Demonstrate deleting missing values using either Numpy and Pandas

In [1]:
import numpy as np
import pandas as pd

X = np.array([[1, 2],
              [3, 4],
              [np.nan, 0],
              [5, 6],
              [7, 8]])
print("Given array:\n", X)

Given array:
 [[ 1.  2.]
 [ 3.  4.]
 [nan  0.]
 [ 5.  6.]
 [ 7.  8.]]

In [2]:
# Remove missing values using numpy lib
print(X[~np.isnan(X).any(axis=1)])

[[1. 2.]
 [3. 4.]
 [5. 6.]
 [7. 8.]]

In [5]:
# Remove missing values using pandas lib
df = pd.DataFrame(X)
df.head()

     0    1
0  1.0  2.0
1  3.0  4.0
2  NaN  0.0
3  5.0  6.0
4  7.0  8.0

In [6]:
df.dropna()

     0    1
0  1.0  2.0
1  3.0  4.0
3  5.0  6.0
4  7.0  8.0