# Encoding Ordinal Categorical Features

In [1]:
import pandas as pd

df = pd.DataFrame({'Score': ['Low',
                             'Low',
                             'Medium',
                             'Medium',
                             'High']})
df

    Score
0     Low
1     Low
2  Medium
3  Medium
4    High

In [2]:
# Create mapper
scale_mapper = {'Low': 1,
                'Medium': 2,
                'High': 3}

# Map feature values to scale
df['Scale'] = df['Score'].replace(scale_mapper)

df

    Score  Scale
0     Low      1
1     Low      1
2  Medium      2
3  Medium      2
4    High      3