# Regression with Multivariate Data

In [2]:
import pandas as pd
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
admission_data = pd.read_csv('Data/Admission_Predict.csv')
admission_data.head(10)

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90
6,321,109,3,3.0,4.0,8.20,1,0.75
7,308,101,2,3.0,4.0,7.90,0,0.68
8,302,102,1,2.0,1.5,8.00,0,0.50
9,323,108,3,3.5,3.0,8.60,0,0.45

In [4]:
X = admission_data.drop('Chance of Admit ', axis=1)
y = admission_data['Chance of Admit ']

In [10]:
X.head(10)

   GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
0        337          118                  4  4.5   4.5  9.65         1
1        324          107                  4  4.0   4.5  8.87         1
2        316          104                  3  3.0   3.5  8.00         1
3        322          110                  3  3.5   2.5  8.67         1
4        314          103                  2  2.0   3.0  8.21         0
5        330          115                  5  4.5   3.0  9.34         1
6        321          109                  3  3.0   4.0  8.20         1
7        308          101                  2  3.0   4.0  7.90         0
8        302          102                  1  2.0   1.5  8.00         0
9        323          108                  3  3.5   3.0  8.60         0

In [9]:
y.head(10)

0    0.92
1    0.76
2    0.72
3    0.80
4    0.65
5    0.90
6    0.75
7    0.68
8    0.50
9    0.45
Name: Chance of Admit , dtype: float64

In [11]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [12]:
x_train.shape, x_test.shape

((400, 7), (100, 7))

In [13]:
y_train.shape, y_test.shape

((400,), (100,))

In [14]:
# Let us do regression analysis using Stats Library
x_train_with_intercept = sm.add_constant(x_train)
stats_model = sm.OLS(y_train, x_train_with_intercept)

fit_model = stats_model.fit()

C:\Users\anand\Miniconda3\envs\tensorflow\lib\site-packages\numpy\core\fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [15]:
print(fit_model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:       Chance of Admit    R-squared:                       0.835
Model:                            OLS   Adj. R-squared:                  0.832
Method:                 Least Squares   F-statistic:                     282.4
Date:                Thu, 09 Apr 2020   Prob (F-statistic):          7.87e-149
Time:                        17:49:05   Log-Likelihood:                 579.27
No. Observations:                 400   AIC:                            -1143.
Df Residuals:                     392   BIC:                            -1111.
Df Model:                           7
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
const                -1.1308      0.113     -9.967      0.000      -1.354      -0.908
GRE Score             0.0014      0.001      2.477      0.014       0.000       0.002
TOEFL Score           0.0025      0.001      2.647      0.008       0.001       0.004
University Rating     0.0050      0.004      1.211      0.227      -0.003       0.013
SOP                   0.0037      0.005      0.754      0.451      -0.006       0.013
LOR                   0.0198      0.004      4.452      0.000       0.011       0.028
CGPA                  0.1221      0.010     11.937      0.000       0.102       0.142
Research              0.0307      0.007      4.322      0.000       0.017       0.045
==============================================================================
Omnibus:                      101.138   Durbin-Watson:                   2.109
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              250.084
Skew:                          -1.241   Prob(JB):                     4.95e-55
Kurtosis:                       5.974   Cond. No.                     1.32e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.32e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

- Notice that R-Squared and Adj R-Squared are high indicating a good fit.
- F-statistic is +ve
- Prob(F-Statisict) should be under 5%
- F-statistic and Prob(F-Statistic) shows that the model is significant.

In [16]:
linear_model = LinearRegression(normalize=True).fit(x_train, y_train)

In [17]:
y_pred_train = linear_model.predict(x_train)

In [18]:
from sklearn.metrics import r2_score

r2_score(y_pred_train, y_train)

0.8017100977033831

In [19]:
y_pred_test = linear_model.predict(x_test)

In [20]:
r2_score(y_pred_test, y_test)

0.7047320817907271